*{
    margin: 0;
    padding: 0;
    font-family: 'Azeret Mono';
}

h1{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
}

h2{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}

h3{
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
}

p{
    font-size: 16px;
    color: #0D1321;
}

/* NavBar begins */

.nav-bar{
    margin: 35px 150px;
    display: flex;
    justify-content: space-between;
}

#my-name{
    font-size: 30px;
    font-weight: bolder;
}

#download{
    font-size: 20px;
    font-weight: 500;
    color: #0D1321;
    border: 1px solid #0D1321;
    border-radius: 8px;
    padding: 17px 25px;
    background-color: white;
    cursor: pointer;
}
/* NavBar ends */

/* Banner begins */

.banner{
    height: 655px;
    width: 100%;
    text-align: center;
    background-image: url(./assets/Hero-bg.png);
    background-position: center;
}

.banner-text{
    padding: 30px 450px;
}

.banner-heading{
    margin: 30px 0;
    line-height: 70px;
}

.banner-description{
    padding: 0 90px 35px;
    line-height: 25px;
}

#contact-btn{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #0D1321;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* Banner ends */

/* Section-1 begins*/

#sec-1{
    background-color: rgba(13, 19, 33, 0.02);
    text-align: center;
    margin: 70px auto 0;
    width: 1150px;
}

.sec-1-heading{
    padding-top: 80px;
}

.sec-1-para{
    padding: 25px 150px;
    line-height: 25px;
}

.card-container{
    padding: 0 100px 70px;
}

.card{
    background-color: white;
    border: none;
    border-radius: 16px;
    display: flex;
    gap: 100px;
    text-align: left;
    margin: 32px 0;
}

.text-container{
    margin: auto 48px;
}

.card-title{
    margin-top: 58.5px;
    margin-bottom: 16px;
    line-height: 40px;
    color: rgba(13, 19, 33, 0.7);
}

.card-description{
    margin-bottom: 32px;
    line-height: 25px;
}

.card-btn{
    font-size: 20px;
    font-weight: 500;
    padding: 12px 20px;
    margin-bottom: 58.5px;
    border: 1px solid #0D1321;
    cursor: pointer;
}

.card-image{
    margin: auto 48px;
}
/* Section-1 ends */

/* section-2 begins */

.inspiration{
    text-align: center;
    margin: 70px auto 0;
    width: 1150px;
}

#video{
    box-sizing: border-box;
    border: 1px solid #0D1321;
    border-radius: 16px;
    padding: 32px;
}
/* section-2 ends */

/* Current Target begins */

.items{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.item{
    padding: 40px;
    text-align: left;
    border-radius: 16px;
}

.item-heading{
    margin: 24px 0;
}

.item-link{
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;
}

#html{
    background-color: rgba(255, 76, 30, 0.05);
}

#css{
    background-color: rgba(0, 76, 232, 0.05);
}

#js{
    background-color: rgba(255, 223, 0, 0.05);
}
/* Current Target ends */

/* Support section begins */

#support{
    background-image: linear-gradient(rgba(13, 19, 33, 0.9),rgba(13, 19, 33, 0.4)), url(./assets/handshake.jpg);
    background-position: center;
    width: 1150px;
    height: 315px;
    border-radius: 16px;
    padding: 65px 50px;
}

#support-text-container{
    padding: 0 150px;
    margin: 0 auto;
}

#support-heading{
    color: white;
}

#support-para{
    color: white;
    font-weight: 100;
}

#feedback{
    width: 550px;
    font-size: 14px;
    border-radius: 8px;
    padding: 20px; 
    border: none;
}

#submit-btn{
    width: 120px;
    color: #0D1321;
    background-color: white;
    border-radius: 8px;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
/* Support section ends */

/* footer begins */

#footer{
    margin-top: 70px;
    background-color: rgba(13, 19, 33, 0.03);
}

#contact{
    margin: 0 auto;
    padding: 35px 325px;
    display: flex;
    justify-content: space-between;
}

#footer-para{
    font-size: 20px;
    font-weight: 600;
}

#icons{
    display: flex;
    gap: 24px;
}
/* footer ends */


